{% extends "main/header.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <style>

        .card-action {
            background-color: darkslategrey;
            color: orange;
            padding: 10px;
            text-align: center;
}
</style>
	  <div class="col">
		    <div class="col ">
		      <div class="card blue-grey darken-1">
		        <div class="card-content white-text">
                    <span class="card-title">Wybierz Ćwiczenie</span>
					<br>
                     <span class="card-title">{{object.course_title}}</span> <!---Mamy tutaj pojedynczy obiekt z listy courses, czyli po prostu Course (z models.py), więc mozemy się odwołać do jego poszczególnych kolumn --->
					<p>{{object.course_description}}</p>
		        </div>

		         <div class="card-action">
		          <a href=#>Pary</a>
		          <a href="http://127.0.0.1:8000/mycourse/?course={{object.id}}">Fiszki</a>
                  <a href=#>Luki</a>
                  <a href=#>Lista Słów</a>

		        </div>
		      </div>
		  </div>
	</div>

{% endblock %}