{% extends "main/header.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <style>

        .card-action {
            background-color: darkslategrey;
            color: orange;
            padding: 10px;
            text-align: center;
}
</style>
	  <div class="col">
		    <div class="col ">
		      <div class="card blue-grey darken-1">
		        <div class="card-content white-text">
                    <span class="card-title">Wybierz Ćwiczenie</span>
					<br>
                     <span class="card-title">{{object.course_title}}</span> <!---Mamy tutaj pojedynczy obiekt z listy courses, czyli po prostu Course (z models.py), więc mozemy się odwołać do jego poszczególnych kolumn --->
					<p>{{object.course_description}}</p>
		        </div>

		         <div class="card-action">
		          <a href=#>Pary</a>
		          <a href="http://127.0.0.1:8000/mycourse/?course={{object.id}}">Fiszki</a>
                  <a href=#>Luki</a>
                  <a href=#>Lista Słów</a>

		        </div>
		      </div>
		  </div>
	</div>

<style>


body { font-family: sans-serif; }

.scene {
  width: 200px;
  height: 260px;
  #border: 1px solid #CCC;
  margin: 40px 0;
  perspective: 600px;
}

.flashcard {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  top: 200px;
  left: 200px;
}

.flashcard.is-flipped {
  transform: rotateY(180deg);
}

.flashcard__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.flashcard__face--front {
  background: red;
}

.flashcard__face--back {
  background: blue;
  transform: rotateY(180deg);
}

}

</style>

<script>
var flashcard = document.querySelector('.flashcard');
flashcard.addEventListener( 'click', function() {
  flashcard.classList.toggle('is-flipped');
});
</script>

{% endblock %}