{% extends "main/header.html" %}
{% block content %}

<div>
  <form id="searchform"  method="get" action="" accept-charset="utf-8">
      <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
    </form>
</div>

<div class="list-group">
	<br>
	{% for word in eng_pol_dictionary %}
	<a href="#" class="list-group-item list-group-item-action align-items-start ">
		<div class="d-flex w-100 flex-row">
			<h5 class="mb-1">{{word.english}}</h5>
		</div>
		<p class="mb-1">{{word.polish}}</p>
	</a>
	{% endfor%}
</div>

<div class="pagination">
    
      {% if eng_pol_dictionary.has_previous %}
          <a class="pagination-action" href="?page=1">
            <i class="fas fa-angle-double-left"></i>
          </a>
          <a class="pagination-action" href="?page={{ eng_pol_dictionary.previous_page_number }}">
            <i class="fas fa-angle-left"></i>
          </a>
      {% endif %}

      {% for num in eng_pol_dictionary.paginator.page_range %}
      {% if eng_pol_dictionary.number == num %}
        <span class="pagination-number pagination-current">{{num}}</span>
      {% elif num > eng_pol_dictionary.number|add:'-4' and num < eng_pol_dictionary.number|add:'4' %}
        <a class="pagination-number" href="?page={{num}}">{{num}}</a>
      {% endif %}
      {% endfor%}

      {% if eng_pol_dictionary.has_next %}
          <a class="pagination-action" href="?page={{ eng_pol_dictionary.next_page_number }}"><i class="fas fa-angle-right"></i></a>
          <a class="pagination-action" href="?page={{ eng_pol_dictionary.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a>
      {% endif %}
</div>

<style lang="scss" scoped>
.list-group {
	margin: 0;
	min-width: 800px;
	width: 100%;
	;
}

.pagination{
  text-align:center;
  margin-top: 1em;
  margin-block-end: 10em;
  
}
.pagination-action{
margin: 0 0.5em;
display: inline-block;
padding: 0.5em;
color:#B9B9B9;
font-size: 1.3em;
}
.pagination-action:hover{
  color:#3354AA;
}
.pagination-number{
  background-color: #e66767;
  padding: 0.5em 0.4em;
  color:#fff;
  margin-top: 1%;
  margin-bottom: 1%;
  /* border-radius: 2px; */

}
.pagination-number:hover, .pagination-current{
  background-color: rgb(223, 77, 77);
}
</style>
{% endblock %}