{% extends "main/header.html" %}

{% block content %}
	<form method="POST">
		<input type="hidden" name="csrfmiddlewaretoken" value="z4MyFbTXMxgfoDVt8Ml1TyKf3QsDIeDpdQo87ElzLa6oUyDWhsU8ogdVtJwlryMk">
		<p><label for="id_username">Nazwa użytkownika:</label>
            <input type="text" name="username" autofocus required id="id_username">
        </p>
        <p><label for="id_password">Hasło:</label>
            <input type="password" name="password" required id="id_password">
        </p>
        {% csrf_token %}
		<button class="btn" type="submit">Zaloguj</button>
	</form>

	Nie masz jeszcze konta? <a href='/register'><strong>Zarejestruj się! </strong></a>
{% endblock %}