<nav>
    <div class="nav-wrapper">
    <div class="links">
       <a href="/" class="brand-logo" style = "margin-left: 20px">Languages Learning App</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">        
        {% if user.is_authenticated %}
	      <li><a href="/user_page">Strona główna</a></li>
        <li><a href="/dictionary">Słownik ang-pol</a></li>
        <li><a href="/dictionary">Słownik pol-ang</a></li>
	        <li><a href="/profile">{{user.username}}</a></li>
	        <li><a href="/logout">Wyloguj</a></li>
        {% else %}
	      <li><a href="/">Strona główna</a></li>
	        <li><a href="/register">Rejestracja</a></li>
	        <li><a href="/login">Logowanie</a></li>
        {% endif %}
          <li><a href="/contact">Kontakt</a></li>
      </ul>
    </div>
    </div>
    <style>
  
    /* visited link */
    .links
    a:visited {
      color: white;
    }
    
    /* mouse over link */
    a:hover {
      color: white;
    }
    
    /* selected link */
    a:active {
      color: white;
    
  }
    a:link{
      text-decoration: none;
    }
  </style>
  </nav>
