<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Languages Learning App</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Strona główna</a></li>
        {% if user.is_authenticated %}
	        <li><a href="/account">{{user.username}}</a></li>
	        <li><a href="/logout">Wyloguj</a></li>
        {% else %}
	        <li><a href="/register">Rejestracja</a></li>
	        <li><a href="/login">Logowanie</a></li>
        {% endif %}
          <li><a href="/contact">Kontakt</a></li>
      </ul>
    </div>
  </nav>